Musicall.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
build
.idea/codeStyleSettings.xml
.idea/dictionaries/
make_backup_2017-08-07_03-21-27.zip
SpotifyAlbumArtists.kt
SpotifyArtistTracks.kt
SpotifyUserArtists.kt
SpotifyUserTracks.kt
SpotifyUserWithMusic.kt